#TOC {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  overflow:auto;
}

.main-container {
  max-width: 1600px !important;
}

body{

}
h1,h2,h3,h4,h5,h6{

}

code.r{ 
    font-size: 6px;
}